.list-item-container {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.list-item {
    display: inline-block;
    color: #333;
    background-color: rgba(255,255,255,.5);
    border-radius: 5px;
    border: solid  rgba(255,255,255,0);
    list-style: none;
    text-align: center;
    padding: 10px;
    word-wrap: break-word;
    width: 165px;
    width: 169px;
    margin-right: 9px;
    font-size: 16px;

}

.list-item::placeholder{
    color:  #333;
    opacity: 1;
    font-size: 16px;
}

.delete-button {
    border-radius: 5px;
    margin: 0;
    height: 37px;
    padding: 0 5px;
    font-size: 13px;
    width: 52px;
}
